<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT"/>
    <title>Books</title>
    <script  src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"
        th:src="@{${scheme}+'://'+${staticUrl}+'/js/lib/jquery/1.9.0/jquery.js'}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"
        th:src="@{${scheme}+'://'+${staticUrl}+'/js/lib/jquery-ui/1.9.2/js/jquery-ui-1.9.2.custom.js'}"></script>
    
    <link rel="stylesheet" type="text/css" media="screen" 
    	href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/base/jquery.ui.base.css"
		th:href="@{${scheme}+'://'+${staticUrl}+'/js/lib/jquery-ui-themes/1.10.0/base/jquery.ui.base.css'}"/>
    <link rel="stylesheet" type="text/css" media="screen" 
    	href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/redmond/jquery-ui.css"
		th:href="@{${scheme}+'://'+${staticUrl}+'/js/lib/jquery-ui-themes/1.10.0/redmond/jquery-ui.css'}"/>
    	
    <link rel="stylesheet" type="text/css" media="screen" 
    	th:href="@{${scheme}+'://'+${staticUrl}+'/js/lib/jquery.jqGrid-4.5.2/css/ui.jqgrid.css'}"/>
    
	<script th:src="@{${scheme}+'://'+${staticUrl}+'/js/lib/jquery.jqGrid-4.5.2/js/i18n/grid.locale-en.js'}"></script>
	<script th:src="@{${scheme}+'://'+${staticUrl}+'/js/lib/jquery.jqGrid-4.5.2/js/jquery.jqGrid.src.js'}"></script>
    
</head>
<body>

<table id="grid"></table>
<div id="pager"></div>

<hr/>

<script th:src="@{${scheme}+'://'+${staticUrl}+'/js/book.js'}"></script>
</body>
</html>
